/node_modules
/public/vendor/*
/public/uploads/*
/public/css/*
/public/js/*
/public/packages/*
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/storage/output/audio/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.csv
*.csv#
public/error_log
*.json
!composer.json